%centering {
  width: 85vw;
  padding: 0rem 2rem;
  margin: 8rem auto 12rem auto;
}

%pageImage {
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5rem;
}
